name: Update DockerHub Description

on:
  push:
    branches:
      - master
    paths:
      - alpine/README.md
      - devtoolset-7-toolchain-centos7/README.md
      - .github/workflows/dockerhub-description.yml
  workflow_dispatch:

jobs:
  update-description:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '[ci skip]')"

    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Docker Hub Description
        uses: peter-evans/dockerhub-description@1b9a80c056b620d92cedb9d9b5a223409c68ddfa # v5
        with:
          username: ${{ secrets.DOCKER_LOGIN }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: wildwildangel/docker-prebuild-alpine
          short-description: A Docker image to prebuild Node.js native addons for Alpine Linux
          readme-filepath: alpine/README.md

      - name: Docker Hub Description
        uses: peter-evans/dockerhub-description@1b9a80c056b620d92cedb9d9b5a223409c68ddfa # v5
        with:
          username: ${{ secrets.DOCKER_LOGIN }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: wildwildangel/docker-prebuild-devtoolset-7-toolchain-centos7
          short-description: A Docker image to prebuild Node.js native addons using devtoolset-7-toolchain-centos7 image
          readme-filepath: devtoolset-7-toolchain-centos7/README.md
